/* Clases coumunes */
.flex-col {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0px;
}
main {
  max-width: 1200px;
  height: 100vh;
  justify-content: space-between;
  gap: 15px;
}

.black-section {
  background-color: #000000;
  padding: 30px;
  gap: 30px;
  width: 100%;
}
/* HEADER */
#header-items-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #2d4059;
  padding: 30px;
  justify-content: space-between; /* Millor que center perquè usin tota l'amplada */
  gap: 30px;
}

.header-item {
  display: flex;
  align-items: center;
  background-color: #ea5454;
  padding: 15px;
  flex: 1; /* Això fa que tots intentin medir el mateix per defecte */
}

.header-item:nth-child(2) {
  flex: 3; /*El segon element vermell (el .nav) creixerà el triple que els altres */
}

#banner-container {
  background-color: #ff8b00;
  padding: 30px;
}

#banner-item {
  background-color: #fed602;
  padding: 15px;
  font-size: 40px;
  font-weight: bold;
}
/* BODY */

.grid-layout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 30px;
}

#article-wrapper {
  background-color: #4e4e6a;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /*“Crea 2 columnes iguals, cadascuna ocupant una fracció de l’espai disponible”*/
  gap: 30px;
}

.article-item {
  background-color: #1f6cb0;
  padding: 15px;
}

#nav-item {
  background-color: #71a3c4;
  grid-column: 1 / -1; /*Ocupa des de la línia de columna 1 fins a l’última línia*/
  padding: 15px;
}

#ads-wrapper {
  background-color: #f64051;
  padding: 30px;
  gap: 20px;
}

.ad-item {
  background-color: #fed602;
  padding: 15px;
}

#footer {
  background-color: #efe78b;
  padding: 15px;
}

/* Media queries - tablet version */
@media (min-width: 768px) and (max-width: 991px) {
  #header-items-wrapper {
    flex-direction: column;
  }

  #body-container {
    display: flex !important; /*matxacarà qualsevol altre display*/
    flex-direction: column;
  }
}
